.plans-container {
    transition: all .5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 3rem 0;
    text-align: center;
    color: var(--background);
}

.plan-wraper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.plan-container {
    font-size: 1.1rem;
    width: 300px;
    height: 350px;
    padding: 1rem;
    color: var(--text);
    border: 1px solid var(--accent);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.plan-container h3 {
    font-weight: 600;
}

.plans-container>p {
    color: var(--text);
    font-weight: 500;
    padding: .4rem;
}

.plan-container p {
    max-width: 200px;
    text-align: center;
}


.plan-container button {
    background: var(--accent);
    color: var(--background);
    border: none;
    padding: .7rem;
    font-size: 1.1rem;
    transition: .4s;
    border-radius: 10px;
}

.plan-container button:hover {
    cursor: pointer;
    background: var(--background);
    color: var(--accent);
}

@media screen and (max-width: 700px) {

    .plans-container h1 {
        font-size: 2rem;
        padding: .4rem;
    }
}

@media screen and (max-width: 350px) {

    .plans-container h1 {
        font-size: 1.6rem;
        padding: .5rem;
    }
}