.faq {
    margin: 0 auto;
    max-width: 800px;
    padding: 2.4rem;
}

.faq h1 {
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--background);
    margin-bottom: 3.2rem;
    text-align: center;
}

.faq .question {
    border-bottom: 1px solid var(--accent);
    padding-bottom: 1.7rem;
    margin-bottom: 1.8rem;
   
}

.faq .question .title {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.faq .question .title input {
    display: none;
}

.faq .question .title label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 1.3rem;
    line-height: 1.6rem;
    cursor: pointer;
    color: var(--text);
    transition: all 0.3s;
}


.faq .question .title span {
    margin: 0 1.2rem;
    transition: all 0.3s;
}

.faq .question .title p {
    padding-top: 1rem;
    color: white;
    transition: all 0.3s;
    display: none;
}

.faq .question .title input:checked~label {
    font-weight: 700;
}

.faq .question .title input:checked~label span {
    transform: rotate(-180deg);
}

.faq .question .title input:checked~p {
    display: block;
}

@media screen and (min-width: 940px) {
 
    main {
        grid-template-columns: 46rem auto;
        margin-top: 0;
        margin-left: 4.3rem;
        max-width: 92rem;
    }

    .illustration {
        margin-bottom: 0;
    }

    .illustration .image {
        position: absolute;
        width: 100%;
        height: 100%;
        place-content: center;
        overflow: hidden;
    }

    .illustration .image .bg {
        position: absolute;
        transform: translate(-60%, -32%);
    }

    .illustration .image .woman {
        position: static;
        transform: translateX(-18%);
    }

    .illustration .box {
        display: inherit;
        transform: translate(-120%, 25%);
    }

    /* .faq {
        padding: 6.4rem 9.8rem 6.7rem 1.6rem;
    } */

    .faq h1 {
        margin-bottom: 3.6rem;
    }

    .faq .question {
        margin-bottom: 1.6rem;
    }

    .faq .question .title label {
        font-size: 1.4rem;
        line-height: 1.7rem;
    }

}